<div class="bike-characteristics">
    <% _.forEach(bike.characteristics, function(value, key) { %>
        <h2><%- key %></h2>

        <% _.forEach(value, function(value, key) { %>
            <h3><%- key %></h3>

            <ul>
                <% _.forEach(value, function(value, key) { %>
                    <li><b><%- key %></b>: <%- value %></li>
                <% }) %>
            </ul>
        <% }) %>
    <% }) %>
</div>